

.cybersec-header {
	background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url(../img/d.jpg);
	background-repeat: no-repeat;
	background-position: relative;
	background-size: cover;
	background-attachment: scroll;
	padding-left: 30px;
	padding-right: 45px;
	padding-top: 100px;
	padding-bottom: 130px;
}
