
.contact {
	margin: 0;
	padding-top: 30px;
}

#special {
	font-size: 18px;
	color: rgb(120, 255, 140);
}

#special:hover {
	color: white;
}

.back-to-top {
	bottom: 8px;
	left: 16px;
	background-position: fixed;
	color: rgb(120, 255, 140);
	font-size: 20px;
	border: solid rgb(120, 255, 140) 2px;
	border-radius: 15px;
	padding: 6px;
	cursor: pointer;
}

.back-to-top:hover {
	background-color: rgb(120, 255, 140);
	color: black;
}

.contact ul {
	list-style-type: none;
	width: 50%;
    margin: auto;
}

.contact li {
	float: left;
	padding: 10px;
}

a {
	text-decoration: none;
}
