body {
	background-color: #010206;
	padding: 0;
	margin: 0;
}

html {
  scroll-behavior: smooth;
}

.home-header {
	background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url(../img/g.jpg);
	background-repeat: no-repeat;
	background-position: relative;
	background-size: cover;
	background-attachment: scroll;
	padding-left: 30px;
	padding-right: 45px;
	padding-top: 100px;
	padding-bottom: 130px;
	overflow: hidden;
}

h1, h2, h3, h4 {
	font-family: Ubuntu, sans-serif;
	text-transform: capitalize;
}

h1 {
	text-align: center;
	color: rgb(120, 255, 140);
}

h2 {
	text-align: left;
	color: rgb(120, 255, 140);
}

h2:hover {
	color: white;
}

h4 {
	color: gray;
}

p {
	font-size: 18px;
	color: white;
	line-height: 1.6;
	text-transform: capitalize;
	font-family: Arial, sans-serif;
}

#links {
	font-size: 18px;
	color: gray;
	filter: blur 10px;
	text-decoration: none;
}

#links:hover {
	color: rgb(120, 255, 140);
	font-size: 17px;
}


#center-text {
	padding: 15px;
	text-align: center;
}

#pic {
    width: 550px;
    height: 350px;
	border-radius: 4px;
	padding: 2px;
	margin: 0;
	overflow: hidden;
}

#articls {
	color: rgb(120, 255, 140);
	border: 2px solid rgb(120, 255, 140);
	border-radius: 15px;
	padding: 10px 20px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	margin-top: 10px;
}

#articls:hover {
	background-color: rgb(120, 255, 140);
	color: black;
}

img:hover {
  box-shadow: 0 0 1px 1px rgba(120, 255, 140, 1);
}

.source-code {
	background-color: black;
	height: 100%;
	max-width: 550px;
	overflow: auto;
	color: #EEE;
	line-height: 1.7;
	font-family: Courier, sans-serif;
	color: white;
	font-size: 15px;
	border: solid black 1px;
	border-radius: 12px;
	margin: 15px;
	padding: 5px;

}

@media screen and (max-width: 800px) {

  .source-code {   
    width: 100%;
    padding: 0;
  }

    #pic {   
    width: 100%;
    height: 90%;
    padding: 0;
  }
}
